

html {
    font-size: 14px;
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRE5yLBLb00UJ-t1qjT7zxUcsy0rP4L05uP2CVeJcrkTYtL_0ZFJBdph3TzgHOWAjpZmRM&usqp=CAU");*/
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
@media (max-width: 900px) {
    .card {
        width: 25rem !important;
        margin: auto !important;
        align-self:center;
    }
    .course-cards {
        display: block !important;
        position:center !important;
        margin: auto !important;
        align-items: center;
        align-content: center;
        text-align:center;



    }
   
}




html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    margin-left:20px;
    margin-right: 20px;
    /*background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRE5yLBLb00UJ-t1qjT7zxUcsy0rP4L05uP2CVeJcrkTYtL_0ZFJBdph3TzgHOWAjpZmRM&usqp=CAU");*/
}

.logo img {
    -moz-transition: transform 1s;
    -webkit-transition: transform 1s;
    transition: transform 1s;
}

    .logo img:hover {
        transform: rotate(50deg);
        -moz-transform: rotate(50deg);
        -webkit-transform: rotate(50deg);
    }

.ITbooks img:hover {
    position: relative;
    top: -10px;
    left: 20px;
    width: 400px;
    height: auto;
    display: block;
    z-index: 999;
}

.myNav {
    position: fixed;  /*Sticky/fixed navbar */
    width: 100%;
    top: 0 !important; 
}




.btn-prevnext {
    display: inline;
    background-color: white;
    color: black;
    width: 100px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 3px;
}

.pgn-el {
    text-decoration: none;
    color: white;
    background-color: #5585b5;
    border: 1px solid #5585b5;
    width: 35px;
    height: 35px;
    margin-right: 8px;
    text-align: center;
    border-radius: 5px;
    padding-top: 4px;
    margin-bottom: 0px !important;
}

.nav-link:hover {
    background-color: #79c2d0;
    color: white !important;
}

.nav-link {
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    margin-right: 8px;
}

.navbar {
    background-color: #5585b5 !important;
}

.table {
    background: rgb(255,255,255);
    background: linear-gradient(360deg, rgba(255,255,255,1) 0%, rgba(85,133,181,1) 100%, rgba(9,9,17,0.9476832969515931) 100%);
    border-radius: 10px;
}

tbody {
    margin: 30px;
}

.bookLink {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 30px;
}

    .bookLink:hover {
        text-decoration: none;
        color: darkgray;
    }

.subttl {
    font-style: italic !important;
    color: black !important;
    font-size: 20px;
}

.form-group {
    display: inline;
    margin-bottom: 2%;
}

.btn-add {
    color: white;
    background-color: #5585b5 !important;
    border: 1px solid #5585b5;
    border-radius: 5px;
    text-decoration: none;
    padding: 8px;
}

.form-control {
    margin-left: 10px;
    /*width: 400px;*/
    background-color: transparent;
}

.btn-addER {
    background-color: #5585b5 !important;
}



#editLecture {
    margin-right: 20px;
}

.pagination {
    margin-left: 8px;
}

.row {
    display: block;
    margin: 0 auto;
    background-color: #5585b5;
    align-content: center;
    width: 600px;
    margin-top: 50px !important;
}

#account {
    display: block;
    width: 400px;
    margin-left: 8em;
}

#login-submit {
    color: white !important;
    background-color: gray;
}

#registerSubmit {
    color: white !important;
    background-color: gray;
    width: 400px !important;
    margin-left: 10px;
}
.course-cards{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-left:0 px;
    margin-right: 0px;
}
#courses-card:hover {
    zoom:101%;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
}

