@using FacultyAppWeb.Common
@using FacultyAppWeb.Models.ExamRegistrations

@model CreateExamRegistrationViewModel

@if (Model != null && Model.MessageCreate != null)
{
    <div class="alert alert-danger">@Model.MessageCreate</div>
}

<form method="post">
    <br />
    <div class="form-group">
        <input type="hidden" asp-for = "@Model.Student.Id" />
        <label>Select subject</label>
        <div class="col-md-5">
            @Html.DropDownListFor(x => Model.SelectedSubject, new SelectList(Model.Subjects, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "Subject"})
            @Html.ValidationMessageFor(x => x.SelectedSubject, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
