@{
    ViewData["Title"] = "Home Page";
}

@model List<ITBook>

@{
    if (Model == null)
    {
        <div class="text-center">
            <h1 class="display-4">Faculty Web Application</h1>
        </div>
    }
    else
    {
        <h1 style="text-align:center;">The newest IT books</h1>
       <table class="table ITbooks" style="vertical-align: middle;">
            <tbody>
                @foreach (var book in Model)
                {
                    <tr>
                        <td> <img src="@book.Image" alt="" style="width:250px; height:250px"></img></td>
                        <td >
                            <div style="font:700; font-size:x-large">
                                <a class="bookLink" href="@book.Url">@book.Title</a>
                            </div>
                            <div  class="subttl">
                            @book.Subtitle
                            </div>
                        </td>
                    </tr>
                    
                 
                }
            </tbody>
        </table> 

    }

}

